.navigationContainer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navigationContainer p {
  text-transform: uppercase;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 0.5rem;
}

.navigationItem a {
  color: currentColor;
}
